body {
  background: rgb(231, 231, 231);
}

h3 {
  font-size: 70px;

}

h3 {

  color: rgb(255, 255, 255);

}



.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

h2 {

  color: rgb(250, 250, 250);
 }


 .div1 { 
  border: px outset rgb(147,180,11,255);
  background-color: rgb(147,180,11,255);    
  text-align: right;

  

}